@import "colors/colors.css";

* {
  color: @fg;
  all: unset;
  font-size: 16px;
  font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
  transition: 200ms;
  font-weight: 500;
}

/* Avoid the annoying background */
.blank-window {
  background: transparent !important;
}

.control-center {
  background: alpha(@bg1, 0.6);
  border-radius: 10px;
  border: 1px solid @bg4;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  margin: 18px;
  padding: 21px;
}

.control-center .notification-row .notification-background,
.control-center
  .notification-row
  .notification-background
  .notification.critical {
  background-color: @bg1;
  color: @fg;
  border: 1px solid @bg4;
  border-radius: 15px;
  margin: 19px 0px 0px 0px;
  padding: 5px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  color: @red;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 2.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  background: alpha(@bg2, 0.6);
  color: @fg;
  border-radius: 12px;
  margin: 6px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background: @blue;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: @blue;
}

/* Buttons */
.control-center .notification-row .notification-background .close-button {
  background: transparent;
  color: transparent;
  display: none;
  opacity: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

.notification-group-headers {
  margin: 15px 0 0 0;
  color: @fg;
}

.notification-group-icon {
  color: @fg;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @fg;
  margin: 15px 0 0 0;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @red;
}

/* WIDGETS --------------------------------------------------------------------------- */

/* Label widget */
.widget-label {
  margin: 6px;
  color: @blue;
}

.widget-title {
  color: @fg;
  font-size: 1.2em;
  margin: 6px;
}

/* Notification clear button */
.widget-title button {
  background: @bg3;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @bg4;
}

.widget-title button:active {
  background-color: @grey0;
}

/* Do not disturb */
.widget-dnd {
  color: @fg;
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @bg2;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 3px;
}

.widget-dnd > switch:hover {
  background: @bg3;
}

.widget-dnd > switch:checked {
  background: @blue;
}

.widget-dnd > switch:checked:hover {
  background: @purple;
}

.widget-dnd > switch slider {
  background: @bg4;
  border-radius: 6px;
}

/* Buttons menu */
.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: alpha(@bg2, 0.4);
  color: @fg;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @bg4;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background: @blue;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked label {
  color: @bg1;
}

/* Volume & Backlight Widget */
progressbar,
progress,
trough {
  border-radius: 20px;
  background: transparent;
}

trough highlight {
  padding: 4px;
  background: @blue;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

trough highlight:hover {
  padding: 4px;
  background: @purple;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

trough slider {
  background: transparent;
  min-height: 6px;
  min-width: 14px;
}

trough slider:hover {
  background: transparent;
}

.widget-volume,
.widget-backlight {
  background: transparent;
  color: @fg;
  border-radius: 6px;
  margin: 10px 6px;
}
