@import "colors/buttons.css";
@import "colors/colors.css";

window {
  font-family: "SF Pro Text", "GeistMono Nerd Font Propo";
  font-size: 1.2em;
  color: @fg; /* text */
  background-color: alpha(@bg0, 0.6);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px 2px transparent;
  border-radius: 36px;
  margin: 10px;
  color: @fg;
}

button:focus {
  box-shadow: none;
  outline-style: none;
  background-size: 20%;
}

button:hover {
  background-size: 50%;
  outline-style: none;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  background-color: @blue;
  color: transparent;
}
