name: Nix flake CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      # Install Nix on GitHub Runner.
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      # Check Flake configurations.
      - name: nix flake check
        run: nix flake check --all-systems
  build-nixos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      # Check if it can build.
      - name: Build X1 Carbon config
        run: nix build .#nixosConfigurations.x1c13.config.system.build.toplevel
