name: Nix flake CI
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**.nix'
jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      # Install Nix on GitHub Runner.
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      # Check Flake configurations.
      - name: nix flake check
        run: nix flake check --all-systems
